In [3]:
import pandas as pd
pd.set_option('display.max_columns',6)
print("Original data:\n")
df=pd.read_excel(r"D:\python code\ManickManoj\emp.xlsx")
print(df)

Original data:

    Emp ID Name Prefix First Name  ...       Mother's Name  \
0   677509        Drs.       Lois  ...        Helen Walker
1   940761         Ms.     Brenda  ...       Judy Robinson
2   428945         Dr.        Joe  ...  Stephanie Robinson
3   408351        Drs.      Diane  ...      Michelle Evans
4   193819         Mr.   Benjamin  ...   Elizabeth Russell
..     ...         ...        ...  ...                 ...
95  639892         Mr.       Jose  ...           Anna Hill
96  704709         Dr.     Harold  ...       Pamela Nelson
97  461593         Ms.     Nicole  ...          Julia Ward
98  392491        Mrs.    Theresa  ...   Jacqueline Murphy
99  495141        Drs.      Tammy  ...        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]

In [4]:
f=df['First Name'].str.strip()
f.to_excel(r"D:\python code\ManickManoj\emp.xlsx")
print("\n Replace value:")
k=df.fillna(method='pad')
print(k)
print("\n Updated list \n")
k.to_excel(r"D:\python code\ManickManoj\emp.xlsx")

 Replace value:
    Emp ID Name Prefix First Name  ...       Mother's Name  \
0   677509        Drs.       Lois  ...        Helen Walker
1   940761         Ms.     Brenda  ...       Judy Robinson
2   428945         Dr.        Joe  ...  Stephanie Robinson
3   408351        Drs.      Diane  ...      Michelle Evans
4   193819         Mr.   Benjamin  ...   Elizabeth Russell
..     ...         ...        ...  ...                 ...
95  639892         Mr.       Jose  ...           Anna Hill
96  704709         Dr.     Harold  ...       Pamela Nelson
97  461593         Ms.     Nicole  ...          Julia Ward
98  392491        Mrs.    Theresa  ...   Jacqueline Murphy
99  495141        Drs.      Tammy  ...        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]

 Updated list

C:\Users\Manick\AppData\Local\Temp\ipykernel_21756\2931565024.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  k=df.fillna(method='pad')

In [5]:
print("\n Drop one Particluar column and its values:\n")
k.drop(["Mother's Name"],axis=1,inplace=True)
print(k)
print("Updated list \n")
k.to_excel(r"D:\python code\ManickManoj\emp.xlsx")

 Drop one Particluar column and its values:

    Emp ID Name Prefix First Name  ...     Father's Name Mother's Maiden Name  \
0   677509        Drs.       Lois  ...     Donald Walker                Lewis
1   940761         Ms.     Brenda  ...  Raymond Robinson                Perry
2   428945         Dr.        Joe  ...    Scott Robinson               Taylor
3   408351        Drs.      Diane  ...       Jason Evans                Allen
4   193819         Mr.   Benjamin  ...   Gregory Russell               Nelson
..     ...         ...        ...  ...               ...                  ...
95  639892         Mr.       Jose  ...       Carlos Hill                Hayes
96  704709         Dr.     Harold  ...    Richard Nelson                Smith
97  461593         Ms.     Nicole  ...        Ralph Ward                  Lee
98  392491        Mrs.    Theresa  ...     George Murphy             Peterson
99  495141        Drs.      Tammy  ...      Andrew Young             Robinson

    Salary
0   168251
1    51063
2    50155
3   180294
4   117642
..     ...
95  129774
96  156194
97   95673
98   51015
99   93650

[100 rows x 10 columns]
Updated list